.intro-header
	display: flex
	align-items: center
	height: 100vh

@media only screen and (min-width: 768px)
	.intro-header .site-heading h1
		font-size: 55px
		font-weight: 100
		margin-bottom: 30px

@media only screen and (min-width: 768px)
	.intro-header .site-heading
		margin-bottom: 180px